*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}

body {
  font-family: inherit;
}

/* Variables */
:root {
  --color-white: #fff;
  --color-light-white: #eee;

  --color-yale: #0e4d92;
  --color-sapphire: rgba(15, 82, 162, .9);

  --color-light-black: #222;
  --color-black: #000;

  --shadow: rgba(0, 0, 0, .4);
}

.ant-btn {
  color: var(--color-white) !important;
  background: var(--color-yale) !important;
  border-color: var(--color-yale) !important;
}

.ant-btn:hover, .ant-btn:focus {
  color: var(--color-black) !important;
  background: var(--color-yale) !important;
}