.chat-room-container {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  height: calc(100% - 50px);
}

.chat-room-container .ant-col:first-child {
  display: flex;
  justify-content: flex-start;
}

.room-name {
  margin-top: 0;
}

.messages-container {
  flex: 1;
  min-height: 100px;
  overflow: auto;
  border: 1px solid var(--shadow);
  border-radius: 7px 7px 0 0;
  position: relative;
  bottom: 10px;
  box-shadow: 0 2rem 4rem var(--shadow);
}

.messages-list {
  list-style-type: none;
  padding: 0;
}

.message-item {
  width: 55%;
  margin-bottom: 8px;
  padding: 12px 8px;
  word-break: break-word;
  color: white;
}

.my-message {
  background-color: rgb(0, 132, 255);
  margin-left: auto;
}

.received-message {
  width: 100%;
  background-color: #3f4042;
  margin-right: auto;
  box-sizing: border-box;
}

.messages-container, .new-message-input-field, .send-message-button {
  border-color: #9a9a9a;
}

.user-name {
  text-align: left;
  margin-left: 10px;
  font-weight: bold;
  font-size: 1.7rem;
}

.btn {
  font-size: 3rem;
  font-family: inherit;
  background-color: var(--color-white);
  border: 1px solid transparent;
  outline: none;
  transition: all .2s;
  color: var(--color-pink-transparent);
  display: flex !important;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-number {
  color: var(--color-black);
}

.btn-submit, .btn:hover {
  color: var(--color-light-white);
  background-color: var(--color-tomato);
}

.btn:active {
  transform: scale(.95);
  outline: none;
  border: none;
}